@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: EB Garamond;
}
h1,h2,h3,h4,h5,h6,nav a{
    font-family: Cormorant Garamond;
}
header{
    background-color: #f4f1e1;
    position: sticky;
    top: 0;
}
img{
    max-width: 100%;
}
.nav {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__toggle {
    display: none;
    max-width: 45px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.menu__item {
    display: inline-block;
    transition: 0.2s ease;
}
.menu__item a {
    color: #1b1b1b;
    text-decoration: none;
    cursor: pointer;
}
.menu__item a:hover {
    transition: 0.2s ease;
    color: #ad0505;
}
/* granada */
#menuGR{
    background-image: url(./FOTOS/Granada1.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menuGR h1{
    color: #f4f1e1;
    font-size: 5rem
}
#menuGR h1 span{
    display: block;
    margin-bottom: 10px;
}
#gr2{
    background-color: #f4f1e1;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
#gr2 > article{
    width: 20%;
}
#gr2 a{
    text-decoration: none;
    color: #3b3b3b;
}
#gr3{
    background-color: #f4f1e1;
    display: flex;
    flex-direction: row;
    color: #3b3b3b;
}
#gr3>div{
    width: 50%;
    padding-bottom: 5%;
}
#gr3 h2{
    font-size: 5rem;
    text-align: center;
}
#gr3-2{ 
    padding: 5%;
}
#gr3-2>div{
    list-style: none;
    color: #f4f1e1;
    background-color: #800000a8;
    padding: 10px;
    border-radius: 15px ;
    font-size: 1.8rem;
}
#gr3-2>div>ul{
    list-style: none;
}
/* alhambra */
#al1{
    background-image: url(./FOTOS/al1.jpg);
    background-size:cover;
    background-position:100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#al1 h1{
    font-size: 3rem;
    color: #3b3b3b;
}
#al1 span{
    display: block;
    margin-bottom: 10px;
}
#al1>div{
    width: 100%;
    background-color: #c2b2805b ;
    text-align: center;
    border-top: 1px solid #f4f1e179;
    border-bottom: 1px solid #f4f1e179;
    padding: 10px 0;
}
#al1>div>a{
    text-decoration: none;
    background-color: #8000008a;
    color: #f4f1e1;
    font-size: 2rem;
    padding: 5px;
    border-radius: 15px;
}
#al2{
    background-color: #f4f1e1;
    padding: 5%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}
#al2 > div{
    width: 30%;
    text-align: center;
}
/* footer */
footer{
    background-image: url(./FOTOS/Sin\ título.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
}
#ft1{
    display: flex;
    flex-direction: column;
}
#ft1-1 a{
    text-decoration: none;
    color: #f4f1e1;
}
#ft1:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c2b280;
    margin: 1% 0;
}
#ft1-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#ft1-1>ul{
    list-style: none;
}
#ft1-1 h2{
    color: #c2b280;
}
#ft1-1 h2:after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #c2b280;
    margin-bottom: 5%;
}
#redes{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    width: 30%;
    margin: 0 auto;
}
#ft2{
    text-align: center;
    color: #f4f1e1;
}
/* responsive */
@media screen and (max-width: 768px) {
    .nav {
        transition: 0.3s ease;
    }

    .nav.display {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: block;
        background: #f4f1e1;
    }
    
    .nav__logo {
        display: inline-block;
        padding: 30px;
        align-self: center;
    }

    .nav__toggle {
        display: block;
        width: 35px;
        margin: 7%;
        float: right;
        cursor: pointer;
        transition: 0.3 ease;
    }

    .nav__toggle:hover {
        color: #ddd;
        transition: 0.3s ease;
    }

    .menu {
        width: 100%;
        flex-direction: column;
    }

    .menu__item {
        opacity: 0;
        text-align: left;
        padding: 20px;
        margin: 0px;
        transition: 0.3s ease;
    }

    .menu__item a {
        display: block;
        color: #202020;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu__item a:hover {
        transition: 0.3s ease;
        transform: translateX(5px);
        color: #202020;
    }

    .menu__item.display {
        display: block;
        animation: showMenuItems 0.6s ease;
        animation-fill-mode: both;
    }

    .menu__item.display:nth-child(1) {
        animation-delay: 0.1s;
    }

    .menu__item.display:nth-child(2) {
        animation-delay: 0.2s;
    }

    .menu__item.display:nth-child(3) {
        animation-delay: 0.3s;
    }
    .escon{
        display: none;
        transition: 0;
    }
    .escon *{
        display: none;
    }
    .menu-activador-linea {
        height: 2px;
        display: block;
        background-color: #000;
        opacity: 1;
        transform: translateY(0) rotate(0);
        transition: all 0.3s;
        margin-bottom: 10px;
    }
    .display .menu-activador-linea:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }
    
    .display  .menu-activador-linea:nth-child(2) {
        opacity: 0;
    }
    
    .display  .menu-activador-linea:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
}
@keyframes showMenuItems {
    0% {
        opacity: 0;
        transform: translate3d(40px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}